h1{
    color:blue;
    background-color:rgb(200,178,120);
}

p{
    font-size:28px;
    color:#c8b278;
    background-color:rgb(0,0,255);
}

h2{
    color:#abc;     /* Equal to #aabbcc */
    background-color:hsl(280,50%,20%);
}