#wrapper{
    width:960px;
    margin:0 auto;
    background-color:whitesmoke;
    overflow:auto;
}

#nav{
    height:50px;
    background-color:darkblue;
    margin:5px;
}

#slideshow{
    height:180px;
    background-color:green;
    margin:15px;
}

#ads{
    padding:15px 6px;
}

.ad{
    width:240px;
    height:140px;
    background-color:gray;
    float:right;
    margin:0 38px;
}

.clear{
    clear:both;
}

#main{
    margin:5px;
    background-color:cornflowerblue;
    height:500px;
}

#footer{
    height:100px;
    background-color:black;
}