.box1{
    width: 100px;
    height: 100px;
    background: linear-gradient(dodgerblue,yellow);
}
.box2{
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, tomato,blue, purple);
}
.box3{
    width: 100px;
    height: 100px;
    background: radial-gradient(whitesmoke,  yellow);
}